<table>
    <thead>
        <td>
            Nombre
        </td>
        <td>
            Apellido
        </td>
        <td>
            Direccion
        </td>
        <td>
            Ciudad
        </td>
        <td>
            Compañia
        </td>
        <td>
            Codigo postal
        </td>
        <td>
            Tipo envio
        </td>
        <td>
            Operaciones
        </td>
    </thead>
    <tbody>
    <tr *ngFor = "let x of listadoCompanies" >
        <td>
            {{x.firstName}}
        </td>
        <td>
            {{x.lastName}}
        </td>
        <td>
            {{x.address}}
        </td>
        <td>
            {{x.city}}
        </td>
        <td>
            {{x.company}}
        </td>
        <td>
            {{x.postalCode}}
        </td>
        <td>
           {{x.shipping}}
        </td>
   
        <td class="center">
            <button (click)="solicitarEliminacionCliente(x._id)">delete</button>
            <button (click)="solicitarEdicionCliente(x)">edit</button>
        </td>
        
      
        
    </tr> 
</tbody> 
</table>